<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">MON APP</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">



      {{#link-to "features" class="btn"}}
      FEATURES
      {{/link-to}}


    </div>


  </div>
</div>