{{model.name}}

<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Feature Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |feature|}}
          <tr>
            <td>

              {{#link-to "features-edit" feature}}
            {{feature.name}}
              {{/link-to}}
            </td>
          </tr>
          {{/each}}


        </tbody>
      </table>
