<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{model.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">

    {{model}}

<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Test Name</th>
          </tr>
        </thead>
        <tbody>


          {{#each model as |feature|}}
          <tr>
            <td>


            {{feature.tests.name}}

            </td>
          </tr>
          {{/each}}


        </tbody>
      </table>

<ul>
  {{#each feature.tests as |test|}}
    <li>{{test.id}}</li>
  {{/each}}
</ul>




    </div>


  </div>
</div>