<h2>{{model.name}}</h2>

{{#link-to "tests.new" class="btn"}}
      create new test
      {{/link-to}}

<!-- {{#link-to 'feature.edit' model tagName="button" className="btn"}}Edit{{/link-to}} -->

<div style="height:50px;"></div>

<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Feature Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |test|}}
          <tr>
            <td>

                {{test.name}}

            </td>
          </tr>
          {{/each}}


        </tbody>
      </table>

{{outlet}}