<h2>{{model.name}}</h2>
{{testlist}}

<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Test Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each testlist as |test|}}
          <tr>
            <td>


            {{test.name}}

            </td>
          </tr>
          {{/each}}


        </tbody>
      </table>
